server:
  port: 8083
spring:
  application:
    name: teacher-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/db_student?serverTimezone=UTC
    username: root
    password: root

eureka:
 client:
   service-url:
    defaultZone: http://localhost:8080/eureka/

#pagehelper.reasonable： 分页合理化参数，默认值为false。
#当该参数设置为 true 时，pageNum<=0 时会查询第一页，
#pageNum>pages（超过总数时），会查询最后一页。默认false 时，直接根据参数进行查询。

#support-methods-arguments： 支持通过 Mapper 接口参数来传递分页参数，默认值false，
#分页插件会从查询方法的参数值中，自动根据上面 params 配置的字段中取值，查找到合适的值时就会自动分页。
pagehelper:
  helper-dialect: mysql
  params: count=countSql
  reasonable: false
  support-methods-arguments: true

logging:
  config: classpath:logback-boot.xml


